<?xml version="1.0"?>
<config>
    <daemon>
        <tasks>
            <task interval="23200"> python ~/myEnv/stackoverflow_filter.py SO > ~/tmp/stackoverflow_questions_email.html &amp;&amp; python ~/myEnv/email_client.py  -s data_store_email@163.com -r data_store_email@163.com -d ~/tmp/stackoverflow_questions_email.html  -p 123456abc</task>
            <task interval="23200"> python ~/myEnv/stackoverflow_filter.py UX > ~/tmp/ux_stackexchange_questions_email.html &amp;&amp; python ~/myEnv/email_client.py  -s data_store_email@163.com -r data_store_email@163.com -d ~/tmp/ux_stackexchange_questions_email.html  -p 123456abc</task>
        </tasks>
    </daemon>
</config>
