<?xml version="1.0"?>
<config>
    <!--<download_config_item name="mac_rpd_daily" maxNum="1000" debug="Yes">
        <pageUrl>http://172.21.111.41:8080/cmad/trunk/mac/rpd/daily/</pageUrl>
        <urlPattern>href=&quot;(.*\d\d\d\d.*_rddd.*)&quot;</urlPattern>
        <folderNamePattern>(\d\d\d\d-\d\d-\d\d_r\d\d\d\d\d)</folderNamePattern>
        <variables>
            <variable name="versionNum" pattern="r(\d\d\d\d\d)"/>
        </variables>
        <folderPrefix>/Users/ZijingWu/Downloads/binary/mac_rpd_daily/</folderPrefix>
        <files>
            <file deleteAfterScript="true" url="release/Polycom%20RealPresence%20Desktop.app.dSYM.zip" destPath="Polycom RealPresence Desktop.app.dSYM.zip" scriptTemplate="/usr/bin/tar -xvf '$_' &amp;&amp; mv build/Release/Polycom\ RealPresence\ Desktop.app.dSYM Polycom\ RealPresence\ Desktop.app.dSYM"/>
            <file deleteAfterScript="true" url="release/Polycom%20RealPresence%20Desktop.app.zip" destPath="Polycom RealPresence Desktop.app.zip" scriptTemplate="/usr/bin/tar -xvf '$_' &amp;&amp; mv build/Release/Polycom\ RealPresence\ Desktop.app Polycom\ RealPresence\ Desktop.app&amp;&amp; rm -r -f Polycom\ RealPresence\ Desktop.app/*.jpg&amp;&amp;rm -r -f rpd/*.nib &amp;&amp;rm -r -f Polycom\ RealPresence\ Desktop.app/*.lproj&amp;&amp;rm -r -f Polycom\ RealPresence\ Desktop.app/*.yuv "/>
        </files>
        <itemPostScript>echo</itemPostScript>
    </download_config_item>
    <download_config_item name="mac_rpd_adhoc" maxNum="1000" debug="Yes">
        <pageUrl>http://172.21.111.41:8080/cmad/trunk/mac/rpd/adhoc/</pageUrl>
        <urlPattern>href=&quot;(.*\d\d\d\d.*_rddd.*)&quot;</urlPattern>
        <folderNamePattern>(\d\d\d\d-\d\d-\d\d_r\d\d\d\d\d)</folderNamePattern>
        <variables>
            <variable name="versionNum" pattern="r(\d\d\d\d\d)"/>
        </variables>
        <folderPrefix>/Users/ZijingWu/Downloads/binary/mac_rpd_adhoc/</folderPrefix>
        <files>
            <file deleteAfterScript="true" url="release/Polycom%20RealPresence%20Desktop.app.dSYM.zip" destPath="Polycom RealPresence Desktop.app.dSYM.zip" scriptTemplate="/usr/bin/tar -xvf $_ &amp;&amp; mv build/Release/Polycom\ RealPresence\ Desktop.app.dSYM Polycom\ RealPresence\ Desktop.app.dSYM"/>
            <file deleteAfterScript="true" url="release/Polycom%20RealPresence%20Desktop.app.zip" destPath="Polycom RealPresence Desktop.app.zip" scriptTemplate="/usr/bin/tar -xvf $_ &amp;&amp; mv build/Release/Polycom\ RealPresence\ Desktop.app Polycom\ RealPresence\ Desktop.app&amp;&amp; rm -r -f Polycom\ RealPresence\ Desktop.app/*.jpg&amp;&amp;rm -r -f rpd/*.nib &amp;&amp;rm -r -f Polycom\ RealPresence\ Desktop.app/*.lproj&amp;&amp;rm -r -f Polycom\ RealPresence\ Desktop.app/*.yuv"/>
        </files>
        <itemPostScript>echo</itemPostScript>
    </download_config_item>-->
    <postScript>ls -d -A 20*-*-*_r* > buildlist.txt </postScript>
</config>
